*, *:before, *:after {
  box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

a:focus, a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  color: red;
}